*{
    margin: 0;
    padding: 0;
}
body{
    overflow:scroll;
    background-color: rgb(248, 228, 191);
}
h1{
    font-size:4rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 1rem;
}
.header{
    display: flex;
    flex-direction: row;
    height: 7rem;
    background-color:rgb(255, 185, 55);
}
.slogo{
    width: 8rem;
    height: 7rem;
    margin-left: 3rem;
    background-color: rgb(146, 240, 240);
}
.bg_img{
    width: 100%;
    height: 200px;
}
.form{
    margin-left: 2rem;
    padding: 1rem;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
}
.name{
    margin: 1rem 1rem 2rem 1rem;
    color: rgb(38, 37, 37);
  
}
label{
    margin: 1rem;
    color: rgb(38, 37, 37);
}
#name{
    padding: 5px;
    vertical-align: top;
}
.gender{
    margin: 1rem;
    color: rgb(38, 37, 37);
    border: 2px dashed black;
    border-radius: 5%;
    width: 15%;
    padding: 0.5rem;
    padding-left: 1rem;
    display: block;
}
.gender{
   display:block;
}
#sports{
    margin: 1rem;
    margin-bottom: 0;
    padding: 0.5rem;
}
.submit{
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    color: white;
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(77, 61, 5);
    font-size: 1.2rem;
}
.icons{
    display: flex;
    margin: 1rem;
}
.icons i{
    padding: 10px;
    font-size: 2rem;
}